<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="GMusic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <GMusic.Properties.Settings>
            <setting name="CaptureBrowserCommands" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MiniPlayerLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FullPlayerLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FullPlayerSize" serializeAs="String">
                <value>740, 550</value>
            </setting>
            <setting name="FullPlayerState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="ShowMiniplayer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>True</value>
            </setting>
        </GMusic.Properties.Settings>
    </userSettings>
</configuration>
